/*---------------------Global---------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #e7e6d4;
  position: relative;
}

#container {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

/*---------------------Nav-Bar---------------------*/

.navBar {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  background: #e7e6d4;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 8px solid #567d50;
  z-index: 10;
}

#navLeft {
  position: absolute;
  top: 30px;
  left: 5%;
}

#navRight {
  position: absolute;
  top: 30px;
  right: 5%;
}

.nav li {
  list-style: none;
  margin: 0 10px;
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: #77554c;
  text-transform: uppercase;
  font-weight: 600;
}

.logo {
  width: 200px;
  height: 200px;
}

/*---------------------Content Classes---------------------*/
.section {
  margin:50px;
  padding: 20px 0;
  height: 100%;
  max-width: 100%;
  position: relative;
}

.section > h1:first-child {
  margin: 20px 0;
  text-align: center;
  zoom: 2;
}

.section:after {
  content: "";
  display: block;
  clear: both;
}

/*---------------------Home---------------------*/
#home {
  margin: 0px;
  height: 100%;
  border: none;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

#home img {
  width: 100%;
  max-width: 100%;
}

/*---------------------About Us---------------------*/
#aboutUs {
  background: #e7e6d4;
  color: #77554c;
  width: 100%;
}

#aboutUs p {
  border: 8px solid #567d50;
  width: 100%;
  padding: 20px;
  color: #e7e6d4;
  /*float: right;*/
  background-color: #77554c;
  border-radius: 20px;
  font-size: 30px;
  line-height: 40px;
}

#aboutUs p strong {
  color: #567d50;
  text-shadow: -.3px 0 #e7e6d4, 0 .3px #e7e6d4, .3px 0 #e7e6d4, 0 -.3px #e7e6d4;
}

#profilePics {
  width: 100%;
  margin: 50px 0;
}

#profilePics  ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
#profilePics li {
  display: inline-block;
  width: 40%;
  margin: 0 20px;
}
#profilePics span {
  display: block;
}
#profilePics li > img {
  width: 100%;
}

/*---------------------Book Now---------------------*/
#book {
  background-image: url("../images/hikingTrail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#book h1 {
  position: relative;
  margin-bottom: 30px;
  color: #e7e6d4;
}

form {
  margin: 50px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  text-align: center;
}

input {
  margin: 40px 0;
  padding: 5px 10px;
  height: 10%;
  border-radius: 10px;
  background-color: #e7e6d4;
  border: 3px solid #567d50;
  color: #77554c;
  font-size: 20px;
  font-weight: 600;
  -webkit-appearance: none;
  width: 80%;
  max-width: 100%;
}

input:nth-of-type(n+3) {
  width: 35%;
  font-size: 16px;
}

button {
  -webkit-appearance: none;
  text-align: center;
  width: 60%;
  height: 50px;
  background-color: #e7e6d4;
  border: 5px solid #567d50;
  color: #77554c;
  border-radius: 10px;
  font-size: 26px;
  font-weight: 600;
  margin: 50px 0;
}

/*---------------------Nature Facts---------------------*/
#facts {
  background-color: #567d50;
  color: #e7e6d4;
  position: relative;
  height: 550px;
}

#facts h1 {
  position: relative;
  margin-bottom: 30px;
  color: #e7e6d4;
}

#facts ul {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  font-size: 26px;
}

#facts ul li {
  margin: 20px 0;
}

/*---------------------Gallery---------------------*/
#gallery {
  color: #567d50;
}

#galleryPics {
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
}

#galleryPics img {
  margin: 2px auto;
  float: left;
  width: 180px;
  height: 120px;
}

/*---------------------Contact---------------------*/
#contact {
  text-align: center;
  background-color: #567d50;
  color: #e7e6d4;
}

#contact h2 {
  margin: 20px 0;
  font-size: 36px;
  text-shadow: -4px 0 10px #77554c, 0 4px 10px #77554c, 4px 0 10px #77554c, 0 -4px 10px #77554c;
}

/*---------------------Media Queries---------------------*/

@media screen and (max-width: 750px) {
  body, .navBar {
    min-width: 450px;
  }
  #navLeft, #navRight {
    top: 10px;
  }
  #navLeft {
    left: 10%;
  }
  #navRight {
    right: 10%;
  }
  .nav li {
    display: list-item;
    margin-bottom: 5px;
  }
  .logo {
    width: 150px;
    height: 150px;
  }
  .section > h1:first-child {
    zoom: 1.3;
  }
  #home {
    top: 60px;
  }
  #aboutUs p {
    width: 100%;
    float: none;
    display: block;
  }
  #profilePics {
    width: 100%;
    float: none;
  }
  #profilePics li {
    margin: 20px 0;
  }
  #profilePics li > img {
    width: 70%;
    max-width: 70%;
  }
  #book {
    height: 500px;
  }
  input, input:nth-of-type(n+3) {
    margin: 15px 0;
    font-size: 16px;
  }
  button {
    margin-top: 15px;
    font-size: 16px;
  }
  #facts {
    height: 500px;
  }
  #galleryPics img {
    margin: 2px;
    float: left;
    width: 120px;
    height: 80px;
  }
}
